<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "caninemwenja.hellomaterialize"
        versionCode = "1"
        version = "0.0.1" >
    <!-- versionCode is optional and Android only -->
    <name>Pho Bot</name>
    <description>
        Robot Car Controller
    </description>
    <author href="https://github.com/sithu" email="sithumail@gmail.com">
        Sithu Aung
    </author>
    <gap:platform name="android" />
</widget>